*{
    box-sizing: border-box;
    color: black;
    margin: 0;
    padding: 0;
}

nav{
    height: 50px;
    background-color: rgb(165, 165, 165);
    text-align: center;
    line-height: 50px;
}

nav li{
    display: inline-block;
}

nav li a{
    color: rgb(224, 238, 99);
    padding: 10px 30px;
    text-decoration: none;
    text-shadow:black 1px 1px 1px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 500ms;
}

nav li a:hover{
    color: rgb(221, 120, 4);
    font-size: 18px;
}
