*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    text-transform: uppercase;
    text-shadow: black 3px 3px 3px;
}

.header-text{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

header h1 {
    font-size: 2rem;
}

header p {
    font-size: 1.2rem;
}

.header-image{
    position: relative;
    height: 200px;
    background-image: url('/image/photo-1454165804606-c3d57bc86b40.jpg');
    background-position: 50% 38%;
    background-repeat: no-repeat;
}

.header-bg{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.3);
}

nav{
    font-size: 1rem;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.644);
    text-align: center;
    line-height: 50px;
}

nav li{
    display: inline-block;
}

nav li a{
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    text-shadow:black 1px 1px 1px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 500ms;
}

nav li a:hover{
    color: rgb(224, 238, 99);
}

main {
    text-align: justify;
    min-height: 60vh;
    width: 50%;
    margin: 30px auto;
}

section {
    margin-top: 30px;
}

section p {
    margin-top: 10px
}

footer{
    font-size: 20px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.644);
    color: white;
    text-align: center;
    text-shadow:black 1px 1px 1px;
}

.foot-icon{
    margin-left: 30px;
}

.foot-icon i{
    padding: 0 5px;
    transition: 600ms;
}

.foot-icon :hover{
    color: rgb(224, 238, 99);
}